extends ../../core/_html
include ../../core/_logo

block append vars
  - pageid = 'basics'
  - title = name

block header
  header._container
    +logo
    span.maindesc= description
  hr

block article
  nav._container: +main_nav
  hr
  article._container
    pre
      .
        // basics