extends ../../core/_html

block append vars
  - pageid = 'basics'
  - title = `Basics | ${name}`
  - description = 'Common components.'

block header
  header._container
    +logo
    span.maindesc= description
  hr

block article
  nav._container: +main_nav
  hr
  nav._container: +basic_nav
  hr
