extends ../../main/_html

block append vars
  - pageid = 'core/blank'
  - siteUrl += '/core/blank.html'

block header
  header._container: pre
    .
      Hello, there.

      This is a placeholder to get you started.

      Copy the code from '!{pageid}' to create your own page.

      #[a(href='./') Back]
    |
    |

block article
  article._container: pre: +pageData()