extends ../../core/_html

block append vars
  - pageid = 'core'
  - title = `Core | ${name}`
  - description = 'Core components.'

block header
  header._container
    +logo
    span#maindesc= description
  hr

block article
  +main_nav
  hr
  +core_nav
