
// colors
$baseBg: #DDD;
$baseTc: #222;

// dark colors
$dark_baseBg: #222;
$dark_baseTc: #DDD;

// color names
$blue   : #1b36b0;
$purple : #992299;
$orange : #DD7700;
$red    : #DD0000;
$green  : #008800;
$contra : #000000;

// dark color names
$dark_blue   : #7a8eea;
$dark_purple : #c17ac1;
$dark_orange : #e39f40;
$dark_red    : #ff4d4d;
$dark_green  : #00aa00;
$dark_contra : #ffffff;

// link colors
$linkTc          : $blue;
$linkTc_visited  : $purple;
$linkTc_active   : $red;

// dark link colors
$dark_linkTc          : $dark_blue;
$dark_linkTc_visited  : $dark_purple;
$dark_linkTc_active   : $dark_red;
