// ---------------------------------------------------------------
// variables
// ---------------------------------------------------------------

// fonts
$sans: Arial,sans-serif;
$baseFont: $sans;

// colors
$baseBg: #222;

// ---------------------------------------------------------------
// normalize
// ---------------------------------------------------------------

html,body { margin:0 }

// ---------------------------------------------------------------
// base
// ---------------------------------------------------------------

._container { margin:.5rem }

// ---------------------------------------------------------------
// theme basics
// ---------------------------------------------------------------

html,body { font-family: $baseFont; }

// ---------------------------------------------------------------
// theme color
// ---------------------------------------------------------------

html,body { background-color: $baseBg; }

// ---------------------------------------------------------------
// custom
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// helpers
// ---------------------------------------------------------------

._sans { font-family: $sans }