
@use "_mixins" as *;
@use "_colors" as *;

// ---------------------------------------------------------------
// variables
// ---------------------------------------------------------------

// fonts
$sans: Arial,sans-serif;
$baseFont: $sans;

// ---------------------------------------------------------------
// normalize
// ---------------------------------------------------------------

html,body { margin:0 }

// ---------------------------------------------------------------
// base
// ---------------------------------------------------------------

._container { margin:.5rem }
details { margin:-.5rem; box-sizing:border-box; }
summary { cursor:pointer;padding:.25em .5em }
summary:hover { background-color: #8883; }
summary:active { opacity:.3 }

// ---------------------------------------------------------------
// theme basics
// ---------------------------------------------------------------

html,body { font-family: $baseFont; }
hr { height:.05rem;border:1px solid #8884; }
blockquote { background-color: #8882; padding: 2em; margin: 1em; }

// ---------------------------------------------------------------
// theme color
// ---------------------------------------------------------------
// 
// ------------------------------------------------ ::selection */
// - must follow this format. - will not work otherwise.
// - each vendor specific must be seperately declared.
// - cant combine. so dont use entend.
// - use background-color not background.
// - dont append or include other class.
// ---------------------------------------------------------------
$select_bg    : #FFFF00AA;
$select_tc    : #000;
@mixin selection {
  background-color: $select_bg !important;
  color: $select_tc !important;
  text-shadow: none !important;
}
::-moz-selection { @include selection; }
::selection      { @include selection; }
._select         { @include selection; }
// ---------------------------------------------------------------

._color {
  & { @include color( $baseFg, $baseBg ); }
  &._dark,._dark & { @include color( $dark_baseFg, $dark_baseBg ); }
}

._color_1 {
  & { @include color( $baseFg, #ccc ); }
  &._dark,._dark & { @include color( $dark_baseFg, #111 ); }
}

._color_2 {
  & { @include color( $baseFg, #eee ); }
  &._dark,._dark & { @include color( $dark_baseFg, #333 ); }
}

footer ._container,
html,body { @extend ._color; }
hr {
  & { border-top-color:#AAA;border-bottom-color:#FFF }
  &._dark,._dark & { border-top-color:#000;border-bottom-color:#444 }
}

a,._a {
  @extend ._u;
  
  &._no_visited,
  &,&:hover { color: $linkFg }
  &:visited { color: $linkFg_visited }
  &:active  { color: $linkFg_active }

  &._active { color: inherit !important; }

  &._dark,._dark & {
    &._no_visited,
    &,&:hover { color: $dark_linkFg }
    &:visited { color: $dark_linkFg_visited }
    &:active  { color: $dark_linkFg_active }
  }
}

// ---------------------------------------------------------------
// custom
// ---------------------------------------------------------------

// ._p,p,pre { margin: .5rem 0 }
// ._h7,._t1 { font-size: 1rem }
// ._t1 { font-weight: normal }
// ._header_layout,
// ._footer_layout,
// ._main_layout { margin:.5rem }
// ._view_layout,
// ._mainflex { height: 100% }
// ._sidecolum { flex: 0 1 10em }
// ._maincolum { flex:auto }
// ._menuitem { margin:.25rem }

footer {
  & { position:absolute;top:auto;bottom:0;left:0;right:0 }
  ._container { margin:0;padding:.5rem }
}

// ---------------------------------------------------------------
// helpers
// ---------------------------------------------------------------

._sans { font-family: $sans }

u,._u {
  text-decoration: underline;
  text-underline-offset: .12em; // improve readability
}
._u_dotted { @extend ._u; text-decoration: underline dotted }

._inline { display: inline }
._block { display: block }
._inblock { display: inline-block }

._scrollable { overflow:auto }

._no_select {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
} 

._flex { display:flex }
._fullview { position:absolute;top:0;bottom:0;left:0;right:0 }

._m0 { margin:0 !important }