// ---------------------------------------------------------------
// variables
// ---------------------------------------------------------------

// fonts
$sans: Arial,sans-serif;
$baseFont: $sans;

// colors
$baseBg: #DDD;
$baseFg: #222;

// dark colors
$dark_baseBg: #222;
$dark_baseFg: #DDD;

// ---------------------------------------------------------------
// normalize
// ---------------------------------------------------------------

html,body { margin:0 }

// ---------------------------------------------------------------
// base
// ---------------------------------------------------------------

._container { margin:.5rem }

// ---------------------------------------------------------------
// theme basics
// ---------------------------------------------------------------

html,body { font-family: $baseFont; }
hr { height:.05rem;border:1px solid #8884; }
blockquote { background-color: #8882; padding: 2em; margin: 1em; }

// ---------------------------------------------------------------
// theme color
// ---------------------------------------------------------------

footer ._container,
html,body { background-color: $baseBg; color: $baseFg; }
hr { border-top-color: #AAA;border-bottom-color:#FFF }

html._dark {
  footer ._container,
  &,body { background-color: $dark_baseBg; color: $dark_baseFg; }
  hr { border-top-color: #000;border-bottom-color:#444 }
}

// ---------------------------------------------------------------
// custom
// ---------------------------------------------------------------

footer {
  & { position:absolute;bottom:0;left:0;right:0 }
  ._container { margin:0;padding:.5rem }
}

// ---------------------------------------------------------------
// helpers
// ---------------------------------------------------------------

._sans { font-family: $sans }

._scrollable { overflow:auto }

._m0 { margin:0 !important }