-
  //- project
  name        = 'BareCSS'
  title       = '[untitled]'
  description = '[undescribed]'
  version     = '0.1.0.alpha'

  //- credit
  author      = 'Techie Joe'
  license     = 'MIT'

  //- metadata
  now         = new Date()
  today       = now.toDateString()
  year        = now.getFullYear()

  //- urls
  localUrl       = 'http://localhost/barecss/site/'
  siteUrl        = 'https://techiejoe.github.io/barecss'
  authorUrl      = 'https://techiejoe.github.io'
  sourceUrl      = 'https://github.com/techie-joe/barecss'

  //- open graph metadata for social media sharing
  og_url         = siteUrl? siteUrl + '?utm_source=homescreen' : undefined;
  og_type        = 'website'
  og_title       = title
  og_description = description
  og_image       = undefined
  og_imageAlt    = undefined

  //- uris
  homeUri     = '/barecss/site/'

  //- styling
  colorScheme = 'light dark'
  themeColor  = '#222222'
  htmlClass   = []

  //- en or en-US following the BCP 47 language tag standard
  lang        = 'en'
  charset     = 'utf-8'

  //- theme
  INCLUDE_THEMEJS = true

  //- progressive web app metadata
  INCLUDE_MANIFEST        = false
  INCLUDE_SERVICE_WORKERS = false
