mixin main_nav
  -
    var main_nav_links = [
      //- pageid, uri, title
      ['index','','Home'],
      ['basics','basics','Basics'],
      ['test','test.html','Test'],
    ];
  each v in main_nav_links
    if pageid === v[0]
      | #{v[2]} 
    else
      | #[a(href=homeUri+v[1]) #{v[2]}] 