mixin main_nav
  -
    var main_nav_links = [
      //- pageid, uri, title
      ['index','','Home'],
      ['basics','basics','Basics'],
      ['test','test.html','Test'],
    ];
  each v in main_nav_links
    a(href=homeUri+v[1] class=(pageid === v[0]?'_active':'')) #{v[2]}
    +_
